<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dao.UserMapper">
	<select id="findUserByUsername" resultType="cn.com.bean.User">
		SELECT
		id,
		username,
		name,
		password,
		gender,
		age,
		birthday,
		access,
		education,
		marital_status maritalStatus,
		phone,
		email,
		id_number	idNumber,
		address,
		family,
		case_history caseHistory,
		agree, 
		assess,
		evidence,
		children_id childrenId
		FROM user WHERE username=#{username}
	</select>
	<insert id="saveUser">
		INSERT INTO user (username,password,email)
		values(#{username},#{password},#{email})
	</insert>
	<select id="findUserPasswordByUsername" resultType="java.lang.String">
		SELECT  password  From  user WHERE username=#{username}
	</select>
	<update id="updateMessage">
		UPDATE user SET
		name=#{name},gender=#{gender},birthday=#{birthday},id_number=#{idNumber},education=#{education},marital_status=#{maritalStatus},phone=#{phone}
		WHERE id=#{id}
	</update>
	<update id="updatePassword">
	    UPDATE user SET
	    password=#{password} WHERE username=#{username}
	</update>
	<select id="listUser" resultType="cn.com.bean.UserInfo" >
	    SELECT
		u.id,
		u.username,
		u.name,
		u.password,
		u.gender,
		u.age,
		u.birthday,
		u.access,
		u.education,
		u.marital_status	maritalStatus ,
		u.phone,
		u.email,
		u.id_number   idNumber   ,
		u.address,
		u.family,
		u.case_history caseHistory,
		u.agree ,
		u.assess,
		evidence ,
		u.children_id  childrenId, 
		c.cname 
		FROM user u LEFT JOIN 	children c ON  u.children_id=c.id
	</select>
	<insert id="InsertUser">
		INSERT INTO user (username,password,name,gender,birthday,education,marital_status,phone,case_history)
		values(#{username},#{password},#{name},#{gender},#{birthday},#{education},#{maritalStatus},#{phone},#{caseHistory})
	</insert>
	<delete id="deleteUser">
		DELETE FROM user WHERE id=#{id}
	</delete>
	<select id="findUserById" resultType="cn.com.bean.User">
		SELECT
		id,
		username,
		name,
		password,
		gender,
		age,
		birthday,
		access,
		education,
		marital_status maritalStatus,
		phone,
		email,
		id_number	idNumber,
		address,
		family,
		case_history caseHistory,
		agree, 
		assess,
		evidence ,
		children_id childrenId
		FROM user WHERE id=#{id}
	</select>
	<update id="updateUserMessage">
	  UPDATE user SET 
	  name= #{name},
	  gender=#{gender},
	  birthday= #{birthday},
	  education=#{education},
	  marital_status=#{maritalStatus},
	  case_history= #{caseHistory},
	  evidence=#{evidence},
	  phone=#{phone},
	  assess= #{assess},
	  agree=#{agree},
	  children_id=#{childrenId}
	  WHERE id=#{id}
	</update>
	<select id="findUserByChildrenId" resultType="cn.com.bean.User">
		SELECT
		id,
		username,
		name,
		password,
		gender,
		age,
		birthday,
		 access,
		education,
		marital_status maritalStatus,
		phone,
		email,
		id_number	idNumber,
		address,
		family,
		case_history caseHistory,
		agree, 
		assess,
		evidence ,
		children_id childrenId
		FROM user WHERE children_id=#{childrenId}
	</select>
	<update id="adoptChildren">
		UPDATE user SET	
		children_id=#{childrenId}
		WHERE id=#{id}
	</update>
</mapper>